.card-area{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 350px;
    min-height: 230px;
    border-bottom: 5px solid #006AFF;
    margin-bottom: 16px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0.2);
}
.picture-section{
    height: 150px;
    position: relative;
}
.picture {
    width: 350px;
    height: 150px;
}
.update{
    background-color: rgba(36, 36, 42, 0.54);
    color: white;
    position: absolute;
    padding: 4px 8px;
}
.company{
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 8px;
    font-family: "Lucida Console", Lucida, monospace;
}
.info{
    padding: 8px;
    color: #3d245c;
    font-family: "Sofia", sans-serif;
}
.listing{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 4px;
}
.price{
    font-size: 24px;
    font-weight: bold;
    font-family: serif;
}
.address{
    font-weight: bold;
    margin-bottom: 4px;
    font-family: sans-serif;
}
.type{
    font-size: 12px;
}
a{
    text-decoration:none;
}
.favorite{
    position: absolute;
    padding: 4px 320px;
}
.star{
    position: absolute;
    padding: 4px 320px;
}